<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.xeblogapi.dao.ArticleMapper">

    <select id="getCount" resultType="integer">
        SELECT COUNT(id)
          FROM article WHERE is_private = 0 AND is_draft = 0
    </select>

    <select id="listArticle" resultType="article">
        SELECT a.id, a.title, a.cover, a.brief, c.name AS categoryName, a.tag, a.pageviews, a.author,
        a.create_time AS createTime
        FROM article a
        LEFT JOIN category c ON c.id = a.category_id
        WHERE a.is_private = 0 AND a.is_draft = 0
        <if test="null != query.query and '' != query.query">
            AND a.title LIKE CONCAT('%', #{query.query}, '%')
        </if>
        <if test="null != query.tag and '' != query.tag">
            AND FIND_IN_SET(#{query.tag}, a.tag)
        </if>
        ORDER BY a.is_top DESC, a.id DESC
    </select>

    <select id="getArticleById" resultType="article">
        SELECT a.id, a.title, a.content, a.update_time AS updateTime, c.name AS categoryName, a.tag, a.pageviews,
          a.author, a.create_time AS createTime
          FROM article a
          LEFT JOIN category c ON c.id = a.category_id
          WHERE a.id = #{id} AND a.is_private = 0 AND a.is_draft = 0
    </select>

    <update id="addPageviews">
        UPDATE article a SET a.pageviews = a.pageviews + 1 WHERE a.id = #{id} AND a.is_private = 0 AND a.is_draft = 0
    </update>

    <select id="getArticleBeforeById" resultType="article">
        SELECT a.id, a.title
          FROM article a
          WHERE a.id &lt; #{id} AND a.is_private = 0 AND a.is_draft = 0
          ORDER BY a.id DESC LIMIT 0,1
    </select>

    <select id="getArticleAfterById" resultType="article">
          SELECT a.id, a.title
          FROM article a
          WHERE a.id > #{id} AND a.is_private = 0 AND a.is_draft = 0
          ORDER BY a.id LIMIT 0,1
    </select>

</mapper>