<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.xeblogapi.dao.ArticleMapper">

    <select id="getCount" resultType="integer">
        SELECT COUNT(id)
          FROM article WHERE is_private = 0 AND is_draft = 0
    </select>

</mapper>