<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.api.dao.CategoryMapper">

    <select id="listCategory" resultType="Category">
        SELECT c.id, c.name, (SELECT COUNT(a.id) FROM article a WHERE a.category_id = c.id AND a.is_private = 0)
          AS articleCount
          FROM category c ORDER BY c.id
    </select>

    <select id="getCategoryCount" resultType="integer">
        SELECT COUNT(id) FROM category
    </select>

    <select id="listCategoryAdmin" resultType="Category">
        SELECT c.id, c.name, c.create_time AS createTime, c.update_time AS updateTime,
          (SELECT COUNT(a.id) FROM article a WHERE a.category_id = c.id) AS articleCount
          FROM category c ORDER BY c.id DESC
    </select>

    <insert id="addCategory">
        INSERT INTO category (name) VALUES (#{name})
    </insert>

    <delete id="deleteCategoryById">
        DELETE FROM category WHERE id = #{id}
    </delete>

    <update id="updateCategoryById">
        UPDATE category SET name = #{name} WHERE id = #{id}
    </update>

    <select id="hasArticle" resultType="integer">
      SELECT id FROM article WHERE category_id = #{id} LIMIT 1
    </select>

    <select id="listCategoryNameAdmin" resultType="map">
        SELECT id, name FROM category
    </select>

</mapper>