<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.xeblogapi.dao.LinkMapper">

    <select id="listLink" resultType="link">
        SELECT l.name, l.url, l.brief
          FROM link l ORDER BY ISNULL(l.order_id), l.order_id, l.id DESC
    </select>

</mapper>