<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.xeblogapi.dao.LinkMapper">

    <select id="listLink" resultType="link">
        SELECT l.name, l.url, l.brief
          FROM link l ORDER BY ISNULL(l.order_id), l.order_id, l.id DESC
    </select>

    <select id="listLinkAdmin" resultType="link">
        SELECT l.name, l.url, l.brief, l.order_id AS orderId, l.id, l.create_time AS createTime, l.update_time AS updateTime
          FROM link l ORDER BY ISNULL(l.order_id), l.order_id, l.id DESC
    </select>

    <insert id="addLink">
        INSERT INTO link (name, url, brief, order_id)
          VALUES (#{add.name}, #{add.url}, #{add.brief}, #{add.orderId})
    </insert>

    <delete id="deleteLinkById">
        DELETE FROM link WHERE id = #{id}
    </delete>

    <update id="updateLinkById">
        UPDATE link SET name = #{up.name}, url = #{up.url}, brief = #{up.brief}, order_id = #{up.orderId}
          WHERE id = #{up.id}
    </update>

</mapper>