<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.api.dao.TagMapper">

    <select id="getCount" resultType="integer">
        SELECT COUNT(id)
          FROM tag
    </select>

    <select id="listTag" resultType="tag">
        SELECT t.id, t.name, (SELECT COUNT(a.id) FROM article a WHERE FIND_IN_SET(t.name, a.tag)
		  AND a.is_private = 0) AS articleCount
          FROM tag t
    </select>

    <insert id="addTag">
        INSERT INTO tag (name)
          SELECT #{name} FROM DUAL
          WHERE NOT EXISTS (SELECT t.id FROM tag t WHERE t.name = #{name})
    </insert>

    <delete id="deleteTagById">
        DELETE FROM tag WHERE id = #{id}
    </delete>

    <select id="getTagIdByName" resultType="integer">
        SELECT id FROM tag WHERE name = #{name}
    </select>

    <select id="listTagAdmin" resultType="tag">
        SELECT t.id, t.name, t.update_time AS updateTime, t.create_time AS createTime,
          (SELECT COUNT(a.id) FROM article a WHERE FIND_IN_SET(t.name, a.tag)) AS articleCount
          FROM tag t
          ORDER BY t.id DESC
    </select>

    <select id="blurryQueryTags" resultType="java.lang.String">
        SELECT name FROM tag
        <if test="tag != null and tag != ''">
            WHERE name LIKE CONCAT('%', #{tag}, '%')
        </if>
    </select>

</mapper>