<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xeblog.api.dao.WebsiteInfoMapper">

    <select id="getWebsiteInfo" resultType="WebsiteInfo">
      SELECT w.title, w.copyright, w.subtitle
        FROM website_info w LIMIT 1
    </select>

    <update id="updateWebsite">
      UPDATE website_info w SET w.title = #{info.title}, w.copyright = #{info.copyright}, w.subtitle = #{info.subtitle}
        LIMIT 1
    </update>

    <resultMap id="getWebsiteInfo" type="cn.xeblog.api.domain.model.WebsiteInfo">
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getWebsiteInfoAdmin" resultMap="getWebsiteInfo">
      SELECT w.* FROM website_info w LIMIT 1
    </select>

</mapper>